<!DOCTYPE html>
<html>
<head>
  <title>Eldercation</title>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "forem" %>
  <%= javascript_include_tag "forem" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
